<h1>Edit cat</h1>

<form action=" <%= cat_url(@cat) %> " method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value=" <%= @cat.name %> ">

  <br>

<label for="color">Color</label>
  <select id="color"name="cat[color]">
    <option disabled selected>-- Add Color --</option>
    <% Cat::CAT_COLORS.each do |color| %>
       <option
         <%= @cat.color == color ? "selected" : "" %>
         value="<%= color %>">
         <%= color.upcase %>
       </option>
     <% end %>
  </select>

  <br><br>

  <input type="radio" name="cat[sex]" value="M" id="cat_sex_male" <%= @cat.sex == "M" ? "checked" : "" %>>
  <label for="cat_sex_male">Male</label>
  <input type="radio" name="cat[sex]" value="F" id="cat_sex_female" <%= @cat.sex == "F" ? "checked" : "" %>>
  <label for="cat_sex_female">Female</label>
  <br>

  <label for="birth_date">Date of Birth</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value=" <%= @cat.name %> ">

  <br>

  <label for="description">Description</label>
  <textarea id="description"name="cat[description]">
    <%= @cat.description %>
  </textarea>

  <br>

  <input type="submit" value="Update cat">
</form>
