<h1> <%= @cat.name %> </h1>

<table>
  <tr>
    <th>Color</th>
    <th>Sex</th>
    <th>Date of Birth</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%=@cat.color  %></td>
    <td><%=@cat.sex  %></td>
    <td><%=@cat.birth_date  %></td>
    <td><%=@cat.description  %> </td>
  </tr>
</table>
